.Outerheader{
    display: flex;
    background-color: #fc9107;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px #dac9c9ea;
    width: 100%;
}
.nav-items{
    display: flex;
    gap: 15px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    font-size: 30px;
}
.search{
    display: flex;
    justify-content: left;
    margin-top: 20px;
    width: 100%;

}

.search-box{
    display: flex;
    align-items: center;
    gap: 50px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}

.filter{
    margin-right: 10px;
    height: 30px;
    padding: 5px 10px;
    /* border: 2px solid black; */
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    display: flex;
}

.restaurant-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    
}
.restaurant-card{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    box-shadow: 2px 2px 5px #dac9c9ea;
    border-radius: 21PX;
    margin: 10px;
}
.restaurant-list img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.restaurant-list :hover{
    cursor: pointer;

}